body {
	background-color: #EAFAF1;
}

input[type=text], select {
	width: 45%;
	padding: 15px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #cccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="tel"] {
	width: 45%;
	padding: 10px;
	margin: 4px 0;
	border: 1px solid #ddd;
    border-radius: 5px;
}

input:invalid {
	border-color: red;
}

input:focus:invalid {
	border-color: black;
}

input:required {
	border-style: dashed;
}

div {
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
}

#rcorners2 {
	border-radius: 4px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	padding: 15px 10px;
	width: 90%;
	height: auto;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#rcorner2label{
	border-radius: 4px;
	border: 2px solid #117A65;
	background-color: #117A65;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	width: 90%;
	height: auto;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #FFFFFF;
}

#rcorner2tablelabel{
	border-radius: 4px;
	border: 2px solid #117A65;
	background-color: #117A65;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	width: 76%;
	height: 1px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #FFFFFF;
}

#rcorner3tablelabel{
	border-radius: 4px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	padding: 20px;
	width: 70%;
	height: 1px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

#spouseInfo {
	border-radius: 4px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	padding: 15px 10px;
	width: 90%;
	height: auto;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

table {
	margin: auto;
	width: 80%;
	th, td {
		border: 0px solid #000;
		padding: 8px;
	}
	th {
		background-color: #f2f2f2;
		margin: auto;
	}

}

button {
	margin: 0 auto;
	align-content: center;
}

form { 
    margin: 0 auto; 
    width:auto;
    text-align: center;
}

.wrapper {
    border-top: 03px solid green;
}

.wrapper a {
    text-decoration: none;
    color: green;
}

p.thick {
    font-weight: bold;
}
